.header{
    background-color:#131921;
    /* moves search bar to be to the right of the amazon logo */
    display: flex;
    /* brings search bar to the center */
    align-items: center;
    /* three lines below allows our nav bar to move as we scroll down the page */
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    /* if the screen size changes, keep the logo the same/ proportional */
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    margin-bottom: 10px;

    /* margin:18px,20px,10px,20px; */
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;

}
.header_optionBasketCount{
    /* margin-left: 10px; */
    margin-right: 10px;
}
.header_link{
    color: white;
    /* removes underline b/c its a link */
    text-decoration: none;
}
.header_search{
    display: flex;
    flex: 1;
}

/* padding allows the text in the search bar to be in the center */
.header_searchInput{
    height: 40px;
    padding: 10px;
    border:none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.header_searchIcon{
    padding: 5px;
    height: 40px !important;
    background-color: orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.SelectAddress{
    padding: 0 9px 0 0px;
    margin: 5px 2px 5px 0;
    color:white;
}

.LocationOn{
color:white;
}