.header{
    background-color:#131921;
    /* moves search bar to be to the right of the amazon logo */
    display: flex;
    /* brings search bar to the center */
    align-items: center;
}
.header_logo{
    width: 100px;
    /* if the screen size changes, keep the logo the same/ proportional */
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}
.header_search{
    display: flex;
    flex: 1;
}

/* padding allows the text in the search bar to be in the center */
.header_searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: orange;
}


