.home{
    /* stays at the appropriate screen size */
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.home_image{
    width: 100%;
    /* this line allows us to shade in the banner from bottom to top or vice versa */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index:1;
    margin-bottom: -150px;
}

.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px; 
}


.home_row > image{
    max-width: 100%;
    height: auto;
}

