.bg-dark{
    /* height: 10vh; */
    /* color:white; */
}

.ArrowForwardIos{
    margin-left: 10px;
}



#basic-nav-dropdown{
color:white;
margin-right: 15px;
}

.categories{
margin-left:20px;
font-weight: bold;
}
