.ArrowForwardIos{
    margin-left: 10px;
}

#LanguageIcon{
margin-right:5px;
color:lightgray;
}

#basic-nav-dropdown{
color:white;
margin-right: 15px;
}

#shopEaster{
    color:white;
    margin-left: 35px;
}

.categories{
margin-left:20px;
font-weight: bold;
}
